:root {
  --verde1:  #8ec048; /* PANTONE 368 UP */
  --verde2:  #bfd241; /* PANTONE 382 UP */
  --negro:  #000000; /* NEGRO */
  --azul:  #1a72b9; /* PANTONE 3005 C */
  --blanco: #ffff; /* PANTONE 3005 C */
}

:roo{
  --fontPrincipal: 'avenir', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; /* Desplazamiento suave al hacer clic en enlaces */
  background-color: var(--blanco);
}

/* p {
  text-align: justify;
} */


/*PARA EL MENU PRINCIPAL------------------------------------------------------------------------------------*/

.menu {
   background-color: var(--verde1); 
  padding: 10px;
  background-image: url('fondo_header.jpg');
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  cursor: pointer;
  font-size: 14px;
  color: var(--blanco);
}

.contact {
  text-align: right;
  font-size: 14px;
} 

.menu-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ef0b0b;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.dropdown button {
  background: chocolate;
  border: none;
  font-size: 14px;
  color: #ff00f7;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
}

.search-bar button {
  border: none;
  background-color: var(--verde2);
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-links > li {
  position: relative;
  cursor: pointer;
}

.nav-links > li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 100%; /* Para que aparezca debajo del elemento principal */
  left: 0;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none; /* Oculto por defecto */
  padding: 10px 0;
  min-width: 150px;
  z-index: 10;
}

.dropdown-menu li {
  padding: 5px 15px;
  font-size: 14px;
  color: #006400;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #e0e0e0;
}

/*PARA EL CAROUSEL DE LAS IMAGENES PRINCIPALES--------------------------------------------------------------*/

.carousel1 {
  position: relative;
  width: 100%; /* Ajusta el ancho según tu diseño */
  height: 600px; /* Ajusta la altura según sea necesario */
  overflow: hidden; /* Oculta las imágenes que no están visibles */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  /* margin-top: 20px; Espacio debajo del menú */
}

.carousel1-images {
  display: flex;
  width: 200%; /* Tres imágenes, cada una ocupa el 100% del ancho del carrusel */
  animation: slide 20s infinite; /* Animación que recorre las imágenes */
}

.carousel1-images img {
  width: 100%; /* Cada imagen ocupa el 100% del ancho del carrusel */
  height: 600px/* Ajusta la altura según el contenedor */
  /* object-fit: cover; Asegura que las imágenes se adapten sin deformarse */
}

/* Animación de deslizamiento */
@keyframes slide {
  0%, 33% {
      transform: translateX(0); 
  }
  33%, 66% {
      transform: translateX(-50%); 
  }
  66%, 99% {
      transform: translateX(-100%); 
  }
  99%, 100% {
      transform: translateX(0); 
  }
}





/*PARA EL RECUADRO CON NOMBRE QUE SE ENCUENTRA ENCIMA DEL CARROUSEL DE LAS IMAGENES-------------------------*/ 

.overlay {
  position: absolute; /* Se posiciona sobre las imágenes */
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajusta para que quede completamente centrado */
  background-color: rgba(20, 200, 40, 0.5); /* Fondo semitransparente (negro con 50% de opacidad) */
  color: white; /* Texto blanco */
  padding: 60px 40px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center; /* Centra el texto */
  font-size: 10px; /* Tamaño del texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para destacar el cuadro */
}

.overlay h1, .overlay h2 {
  margin: 5px 0; /* Reduce los márgenes superior e inferior */
  line-height: 1.2; /* Ajusta el espacio entre las líneas */
  font-weight: normal; /* Opcional: Cambia el grosor de la fuente */
}


/* PARA LA SECCION DE NOSOTROS -----------------------------------------------------------------------*/

.about-us {
  padding: 20px 20px;
  background-color: var(--verde1);
  text-align: center;
}

.about-us h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--blanco);
}

.about-us h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--verde1);
}

.about-us p{
  text-align: justify;
}

.about-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 5px;
}

.about-text {
  flex: none; /* Desactiva el comportamiento de flex para controlar dimensiones */
  width: 30%; /* Define un ancho específico */
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  text-align: left;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px; /* Bordes redondeados opcionales */
}
.about-text-centered {
  flex: none; /* Desactiva el comportamiento de flex para controlar dimensiones */
  width: 45%; /* Define un ancho específico */
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  text-align: left;
  background-color: var(--verde2);
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px; /* Bordes redondeados opcionales */
}


.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.about-image-mision img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Alineación para Quiénes somos */
.about-left {
  flex-direction: row-reverse;
  background-color: none;
}

/* Alineación para Misión */
.about-right {
  flex-direction: row-reverse;
}

/* Alineación para Visión */
.about-center {
  justify-content: center;
  gap: 10px;
}

.about-text-centered {
  flex: 1;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.about-center .about-image {
  flex: 0.8;
}

/* Responsivo */
@media (max-width: 768px) {
  .about-item {
      flex-direction: column;
      text-align: center;
  }

  .about-text {
    width: 80%; /* Ancho mayor en pantallas pequeñas */
    text-align: center; /* Centra el texto en dispositivos móviles */
}

  .about-right, .about-left, .about-center {
      flex-direction: column;
  }

  .about-center .about-image {
      flex: 1;
  }
}

/* PARA LA SECCION DE EXPERIENCIA--------------------------------------------- */

.experience-section {
  width: 100%;
  display: flex;
  flex-direction: column; /* Apila los elementos uno debajo del otro */
  position: relative;
  overflow: hidden;
  margin: 1px auto;
  background-image: url("assets/imagengrupal.jpg");
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Sección del texto */
.experience-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  width: 50%; /* Ocupa todo el ancho del contenedor */
  box-sizing: border-box; /* Incluye padding en el tamaño total */
}

.container-experiences{
  background-color: rgba(143, 192, 72,0.8);
  align-items: center;
}
.container-experiences {
  width: 90%; /* Ocupa el 90% del contenedor padre */
  display: flex; /* Activa el modo flexbox */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  text-align: center; /* Centra el texto dentro del contenedor */
}

.experience-text p{
  text-align: justify;
  width: 90%;
  color: var(--negro);
}

/* Contenedor de la imagen */
.image-container {
  /* background-color: rgba(143, 192, 72, 0.8); */
  width: 100%; /* Ocupa todo el ancho */
  padding: 20px; /* Añade espacio alrededor */
  display: flex;
  flex-wrap: wrap; /* Permite que las imágenes pasen a otra línea si no caben */
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espaciado entre las imágenes */
  box-sizing: border-box; /* Incluye padding en el tamaño total */
}

/* Imagen con efecto flip */
.image-flip {
  position: relative;
  perspective: 1000px;
  width: 20%; /* Ancho de la imagen */
  height: 400px; /* Alto de la imagen */
}

.image-flip img.front {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

.image-flip .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(230, 235, 224, 0.9);
  color: var(--negro);
  opacity: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.image-flip:hover .front {
  opacity: 0;
  transform: rotateY(180deg);
}

.back p{
  width: 80%;
  text-align: justify;
}

.image-flip:hover .back {
  opacity: 1;
  transform: rotateY(0);
}


/* PARA LA SECCION DE PROYECTOS REALIZADOS--------------------------------------------------------------------------------- */
.proyectos-realizados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f4f4f4;
}

.proyectos-realizados .contenido {
  text-align: center;
  max-width: 800px;
  width: 100%;
}

.proyectos-realizados .textos h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.proyectos-realizados .textos p {
  /* font-size: 1.5rem; */
  margin-bottom: 20px;
  line-height: 1.4;
}

.proyectos-realizados .textos2 p {
  
  font-size: 1rem;
  margin-bottom: 10px;
  line-height: 0.2;
}

.proyectos-realizados .negrilla {
  font-weight: bold;
}

/* Estilo del Resumen de Proyectos */
.proyectos-resumen {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px; /* Reduce el padding interno */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Reduce el ancho máximo */
  margin: 0 auto; /* Centra el contenedor */
  font-size: 0.9rem; /* Escala todo el texto */
}

.proyectos-resumen .proyecto {
  margin: 15px 0; /* Reduce la separación entre proyectos */
}

.proyectos-resumen h3 {
  font-size: 1.2rem; /* Reduce el tamaño del título */
  margin: 5px 0;
}

.proyectos-resumen p {
  margin: 3px 0; /* Reduce los márgenes del texto */
  color: #666;
}

.proyectos-resumen .valor {
  font-size: 1.5rem; /* Reduce el tamaño del valor */
  font-weight: bold;
  color: #32a852;
}

.proyectos-resumen .smmlv {
  font-size: 0.8rem; /* Reduce el tamaño del texto SMLMV */
  color: #999;
}

/* Línea divisora */
.proyectos-resumen hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 15px 0; /* Reduce el margen del separador */
}

/* Estilo del total */
.proyectos-resumen .total {
  background-color: #32a852;
  color: white;
  padding: 10px; /* Reduce el padding interno */
  border-radius: 6px;
  margin-top: 15px;
}

.proyectos-resumen .total h3 {
  font-size: 1.2rem; /* Reduce el tamaño del título del total */
  margin: 0;
}

.proyectos-resumen .valor-total {
  font-size: 1.7rem; /* Reduce el tamaño del valor total */
  font-weight: bold;
  margin: 5px 0;
}

/* PARA LA SECCION DE EMPRESAS PUBLICAS---------------------------------------------------- */

/* Contenedor del carrusel */
.carousel-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(20 * 200px); /* Ajusta el ancho según el número de imágenes */
}

.carousel-item {
  flex: 0 0 auto;
  width: 150px;  /* Ajusta según el tamaño de tus imágenes */
  height: 200px; /* Ajusta según el tamaño de tus imágenes */
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #000; /* Borde de 2px de grosor, color negro */
  border-radius: 10px; /* Opcional: bordes redondeados */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  /* Asegura que el contenido no se desborde y no cubra el borde */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}


/* PARA LA SECCION DEL MAPA-----------------------------------------------------------------------------*/

.map-section {
  text-align: center;
  padding: 50px 20px;
  background-color: var(--verde1); /* Cambia el color de fondo si lo deseas */
}

.map-section h2 {
  font-size: 28px;
  color: #2c3e50; /* Cambia el color del título si es necesario */
  margin-bottom: 20px;
}

.map-container {
  width: 100%;
  max-width: 600px; /* Controla el ancho máximo del mapa */
  margin: 0 auto;
  border: 2px solid #ddd; /* Añade un borde al mapa */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden;
}

/* PARA LA SECCION DE PRIVADOS---------------------------------------------------------------------------------------------------- */
/* Estilo para la sección */
.private-container {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background-color: var(--verde1); /* Fondo de la sección */
}

.private-container textos h3 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

/* Estilo para el contenedor de las imágenes */
.private {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las imágenes */
}

/* Estilo para cada imagen */
.private-item {
  width: 150px; /* Ajusta según el tamaño que desees para las imágenes */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Fondo blanco alrededor de la imagen */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  overflow: hidden;
}

.private-item img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen para que se mantenga dentro del contenedor sin distorsión */
  transition: transform 0.3s ease;
}

.private-item img:hover {
  transform: scale(1.05); /* Efecto de ampliación al pasar el ratón sobre la imagen */
}



/* PARA LA SECCION DONDE SE ENCUENTRA EL HIPERVINCULO A LA PAGINA DE LA VETERINARIA------------------------------------------------------*/
.circle-link-section {
  position: relative;
  height: 400px; /* Altura de la sección */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  background-image: url('assets/PtoVeterinarioHnegro.jpg'); /* Cambia por tu imagen */
  background-size: cover;
  background-position: center;
  position: relative;
}

.circle {
  position: absolute;
  width: 150px; /* Tamaño del círculo */
  height: 150px;
  border-radius: 50%; /* Hace el div circular */
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.circle a {
  color: #fff; /* Texto blanco */
  text-decoration: none; /* Sin subrayado */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.circle:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  background-color: rgba(0, 0, 0, 0.9); /* Fondo más oscuro */
}





/* ESTILO PARA LE PIE DE PAGINA ------------------------------------------------------------------------------*/
.footer {
  background-color: #2c3e50; /* Fondo oscuro */
  color: white; /* Texto blanco */
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
}

.footer a {
  color: #1abc9c; /* Color del enlace */
  text-decoration: none; /* Quita el subrayado */
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

.footer-content p {
  margin: 5px 0; /* Reduce los márgenes entre los párrafos */
}




/* ----------------------- */
/* Contenedor principal */
.mision-vision {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--blanco);
  color: #ffffff; /* Texto blanco */
  padding: 20px;
}

/* Secciones individuales */
.mision-vision .section {
  width: 48%; /* Divide en dos columnas */
  padding: 20px;
  border-radius: 8px;
}

/* Títulos */
.mision-vision .section h2 {
  color: var(--verde1); /* Verde neón */
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Párrafos */
.mision-vision .section p {
  color: var(--negro);
  font-size: 1em;
  line-height: 1.6;
  text-align: justify;
}